body {
	width: 940px;
	font-family: 'Helvetica', sans-serif;
	font-weight: 200;
}

.book {
	float: left;
	border: 1px solid black;
	border-radius: 0.9em;
	background-color: #FFFFEF;
	width: 48%;
	padding: 0.5em;
}

.book h3 {
	height: 3.0em;
	border-bottom: 1px solid #000;
}