<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
<div class="container">
<header>
<h1>{{title}}</h1>
<p class="lead">Matching books in Helsingin Kirjasto</p>
</header>

<div id="books-list">
<p class="lead">Lataa...</p>
</div>

</div> <!-- /.container -->
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript">
(function() {
	$.getJSON('/api/query/books', function(data) {
		var booksHTML = "";
		$.each(data, function(idx, book) {
			var bookHTML = "<section><h2>"+book.title+" <small>"+book.year+"</small></h2></section>\n";
			booksHTML += bookHTML;
		})
		$("#books-list").html(booksHTML);
		//$("#books-list").append("<p>"+JSON.stringify(data)+"</p>");
	})
}())</script>
</body>
</html>