<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
<div class="container">
<header>
<div class="logo">
<a href="/"><img src="img/logo.png" alt="logo"></a>
</div>

<h1>{{title}}</h1>
<p class="lead">Below is list of routes this server serves for you!</p>
</header>

<section>
<header>
<h2>Index page <small><a href="/">/</a></small></h2>
</header>
<p>Index page. List of routes this server serves.
</p>
</section>

<section>
<header>
<h2>Booklist <small><a href="/books">/books</a></small></h2>
</header>
<p>Frontend for <a href="/api/query/books">/api/query/books</a>.
</p>
</section>

<section>
<header>
<h2>API endpoint: Booklist <small><a href="/api/query/books">/api/query/books</a></small></h2>
</header>
<p>Lists books that match query "author=Campbell" in Helsingin Kirjasto's database.
</p>
</section>

<section>
<header>
<h2>API endpoint: Weather <small><a href="/api/query/weather">/api/query/weather</a></small></h2>
</header>
<p>Gives latest temperature observed by weather station in Tampere.
</p>
</section>

</div> <!-- /.container -->
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>