<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/mashup.css" rel="stylesheet">
</head>
<body>
	<div class="site-wrapper">
		<div class="container">
			<header>
				<div class="row">
					<div class="hero col-md-4">
						<h1>Tampere</h1>
						<div id="weather"></div>
					</div>
					<div id="w-cam" class="hero col-md-4 no-show-mo" alt="Weather Camera Pirkankatu, Tampere" title="Pirkankatu, Tampere">
					</div>
					<div id="clock" class="hero col-md-4 no-show-mo">
						<img src="img/clock.png" alt="Clock" title="Tick Tock">
						<p><time id="time">{{time}}</time></p>
					</div>
				</div> <!-- /.row -->
			</header>

			<div class="row">
			<div id="dir1" class="col-md-6 timetable">

			</div>

			<div id="dir2" class="col-md-6 timetable">



			</div>



		</div> <!-- /.container -->
	</div>


<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	
<!-- GET & SHOW DATA -->
	<script type="text/javascript">
	(function() {
		/**
		 * WEATHER
		 */
		function getWeather() {
			console.log((new Date()).toLocaleString() + ": getWeather()")
		$.getJSON('/api/query/weather', function(data) {

			var resultHTML = "<img src='img/weathersymbol/" + data.symbolValue + ".png' alt='" + data.symbolDesc + "' title='" + data.symbolDesc + "'>\n"; 
			resultHTML += "<h2 title='"+data.time+"'>" + data.temperature + " °C</h2>\n";
			resultHTML += "<p>Päivitetty " + (new Date(data.time)).toLocaleString() +  "</p>\n";
			$("#weather").html(resultHTML);
			$("#w-cam").html("<img src='http://open.digitraffic.fi/weathercam/C1850101.jpg?t="+Date.now()+"'>");
		})
		setTimeout(function(){getWeather()}, 2*60*1000); // update every 2 minutes
		}

		/**
		 * CLOCK
		 */


		function clock(/*time*/) {
			var today = new Date();
			var hh=addZero(today.getHours());
			var mm=addZero(today.getMinutes());
			//var ss=addZero(today.getSeconds());
			$("#time").html(hh+":"+mm);
			/*if(time % (1*60*1000) < 10000) {
				startClock();
			}*/
			setTimeout(function() {clock(time + 1000)}, 1000);
		}

		function addZero(i) {
			return (i<10 ? ("0" + i) : (i));
		}

/*		function startClock() {

			console.log("startClock()");
			$.getJSON('api/query/time', function(data) {
				clock(data);
			});
		}*/




		/**
		 * MAIN
		 */
		getWeather();
		clock();


	}())</script>
</body>
</html>