/**
 * HERO
 */

.hero, .hero .col-md-4 {
	height: 200px;
	vertical-align: center;
}

.hero .lead {
	border: 0;
}

#weather img {
	height: 60px;
}

#w-cam img {
	height: 100%;
}

#clock {
	font-size: 4em;
	padding: 0;
	margin: 0;
}

#clock img {
	height: 42px;
}

header .row {
	padding-bottom: 20px;
}

/**
 * TIMETABLE
 */

.timetable {
	border: 1px solid black;
	min-height: 100px;
}





/**
 * RESPONSIVE
 */
@media (max-width: 992px) {
	.no-show-mo {
		display:none;
	}
}