html,body {
	height: 100%;
}
.site-wrapper{
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

body header {
	text-align: center;
}
.container {
	padding:50px;

}
.lead {
	border-bottom: 2px solid #333;
	padding-bottom: 30px;
	text-align: center;
}

a {
	text-decoration: underline;
}

section, section header {
	text-align: left;
}

section {
	border-bottom: 1px solid #DDD;
}
.book {
	float: left;
	border: 1px solid black;
	border-radius: 0.9em;
	background-color: #FFFFEF;
	width: 48%;
	padding: 0.5em;
}

.book h3 {
	height: 3.0em;
	border-bottom: 1px solid #000;
}